@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 3.125rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }

  /*************************** Font family ***************************/
  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  /*************************** Font size ***************************/
  .h1-extrabold,
  .h1-bold,
  .h1-semibold,
  .h1-medium,
  .h1-regular {
    font-size: clamp(1.75rem, 1.127vw + 1.486rem, 2.5rem);
    line-height: clamp(2.251rem, 1.502vw + 1.899rem, 3.25rem);
  }

  .h2-extrabold,
  .h2-bold,
  .h2-semibold,
  .h2-medium,
  .h2-regular {
    font-size: clamp(1.625rem, 0.939vw + 1.405rem, 2.25rem);
    line-height: clamp(2.249rem, 1.127vw + 1.985rem, 2.999rem);
  }

  .h3-extrabold,
  .h3-bold,
  .h3-semibold,
  .h3-medium,
  .h3-regular {
    font-size: clamp(1.5rem, 0.751vw + 1.324rem, 2rem);
    line-height: clamp(1.999rem, 1.128vw + 1.735rem, 2.75rem);
  }

  .h4-extrabold,
  .h4-bold,
  .h4-semibold,
  .h4-medium,
  .h4-regular {
    font-size: clamp(1.25rem, 0.751vw + 1.074rem, 1.75rem);
    line-height: clamp(1.75rem, 1.128vw + 1.486rem, 2.501rem);
  }

  .h5-extrabold,
  .h5-bold,
  .h5-semibold,
  .h5-medium,
  .h5-regular {
    font-size: clamp(1.125rem, 0.563vw + 0.993rem, 1.5rem);
    line-height: clamp(1.5rem, 0.751vw + 1.324rem, 1.999rem);
  }

  .h6-extrabold,
  .h6-bold,
  .h6-semibold,
  .h6-medium,
  .h6-regular {
    font-size: clamp(1rem, 0.376vw + 0.912rem, 1.25rem);
    line-height: clamp(1.25rem, 0.751vw + 1.074rem, 1.75rem);
  }

  /*************************** Font weight ***************************/
  .h1-extrabold,
  .h2-extrabold,
  .h3-extrabold,
  .h4-extrabold,
  .h5-extrabold,
  .h6-extrabold {
    @apply font-extrabold;
  }

  .h1-bold,
  .h2-bold,
  .h3-bold,
  .h4-bold,
  .h5-bold,
  .h6-bold {
    @apply font-black;
  }

  .h1-semibold,
  .h2-semibold,
  .h3-semibold,
  .h4-semibold,
  .h5-semibold,
  .h6-semibold {
    @apply font-semibold;
  }

  .h1-medium,
  .h2-medium,
  .h3-medium,
  .h4-medium,
  .h5-medium,
  .h6-medium {
    @apply font-medium;
  }

  .h1-regular,
  .h2-regular,
  .h3-regular,
  .h4-regular,
  .h5-regular,
  .h6-regular {
    @apply font-normal;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
